*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
}
.title{
    /* border:3px solid red; */
    box-shadow: 3px 2px 25px 1px;
    background-color: #000;
    
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 23px;
    padding: 14px ;
    margin-top: 23px;
    font-size: 68px;
    font-weight: 500;
    
    color:rgb(37, 129, 210);
}
.m{
    font-size: 83px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(167, 53, 9);
}
body{
    background-color: black;
    color: antiquewhite;

}
.header{
    width:100%;
    height:100vh;
    /* border: 2px solid rgb(255, 17, 17); */

    background-image: url('./images/bgimg.jpg');
    background-position:center ; 
    background-size:cover;
}
.container{
    padding:10px 10%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;

}
.logo{
    width:140px; 
}
#sidemenu{
    margin-top: 23px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(18, 78, 218);
    text-decoration: none;
    font-size:23px;
    position:relative;
}
nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background-color: rgb(255, 255, 255);
    position:absolute;
    left:0;
    bottom:-7px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 10%;
    
}
.header-text p{
    font-size:80px;
}
.header-text h1{
    font-size:69px;
}
/* About Section */
#about{
    padding:80px 0;
    color:#ababab;
}
.about-me-text{
    font-size: 32px;
}
.row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tab-contents.experience > ul{
columns:1;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width:100%;
    border-radius: 25px;

}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-weight: 600;
    font-size: 65px;
    color: blanchedalmond;

}
.tab-titles{
    display:flex;
    margin:20px 0 40px;
}
.tab-contents > ul{
    columns:3;
    list-style:square;
}
.tab-contents > ul >li{
    font-size: 23px;
}
.links{
    margin-right:50px ;
    font-size: 27px;
    color: aliceblue;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.links::after{
    content:'';
    width:0;
    height:3px;
    background-color: rgb(232, 16, 16);
    position:absolute;
    left:0;
    bottom:-5px;
    transition:0.5s;
}
/* .links::after{
} */
.links.active-link::after{
    content:'';
    width:50%;
    

}
.tab-contents{
    display: none;
}
.tab-contents > ul{
    text-decoration: none;
}
.active-tab{
    display: block;
}
/* Projects section start */

#project{
    padding:50px 0;
}

.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 20px;
    position:relative;
    overflow:hidden;
    /* border: 2px solid rgb(237, 237, 237); */
}
.work img{
    width:100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
}
.layer{
    width:100%;
    height:0%;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom: 0;
    overflow:hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding:0 40px;
    text-align: center;
    font-size:14px;
    transition:height 0.5s;
    
}
.layer > h3 {
  font-weight: 500;
  margin-bottom: 23px;
}
.layer a{
    margin-top:20px;
    color:#ff004f;
    text-decoration: none;
    font-size: 23px;
    line-height: 60px;
    background: #ababab;
    width:60px;
    height:60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.2);
}
.work:hover .layer{
    height:100%;
}
/* Contact Me */
/* #contact{
    padding:50px 0;
} */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 23px;
}
.fa-envelope{
size:120px;
}
.contact-left i{
    margin: 0px 23px;

    color: aliceblue;
    size:60px;
}
.social-links{
    margin-top: 30px;
}
.social-links a{
    text-decoration: none;
    font-size: 30px;
    margin-right:23px;
    display: inline-block;
    transition: transform 0.2s;
    border-radius: 25%;
}
.social-links a:hover{
    transform: scale(1.1);
    background-color: #220610;
}
.btn.btn2{
    padding: 13px 30px;
    border-radius: 23px;
    display: inline-block;
    background-color: #ff004f;
    margin: 11px 45%;
}
.contact-right form{
    width:100%;
}
form input, form textarea{
    width:100%;
    border:0;
    outline:none;
    background:#262626;
    padding:15px;
    margin:15px 0px;
    color:aquamarine;
    font-size: 18px;
    border-radius: 15px;
}
form .btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top:23px;
    margin:23px auto;
    cursor:pointer;
    width: fit-content;
    align-self: center;
}
.copyright{
    width:100%;
    text-align:center;
    padding:25px 0;
    background-color: #262626;
    font-weight: 600;
    margin-top:20px;
}
.copyright i{
    color:red;
}
/* CSS for small screens */
nav .close{
    display: none;
}
@media only screen and (max-width:600px){
    .header{
        background-image: url(./images/bgimgcrop.jpg);
    }
    .header-text{
        margin-top: 50%;
        font-size: 10px;
    }
    .header-text h1{
        font-size:52px;
    }
    .header-text p{
        font-size: 39px;
    }
    nav .close{
        display: block;
        
    }
    nav ul{
        background: color rgb(136, 133, 133); 
        /* opacity:0.5; */
        position:fixed;
        top:0;
        right:-200px;
        width:200px;
        height:50vh;
        padding-top:50px;
        z-index: 2;
        transition: right 0.2s;
    }
    nav ul li{
        display:block;
        margin:25px;
    }
    nav ul .close{
        position:absolute;
        top:25px;
        left:25px;
        cursor:pointer;
    }
    .sub-title{
        font-size:20px;
    }
    .about-me-text{
        font-size: 20px;
    }
    .about-col-1 , .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 23px;
    }
    .about-col-2{
        font-size: 20px;
    }
    .tab-contents > ul{
        columns: 2;
        margin:20px;
    }
    /* .tab-contents > li{
        margin:20px;
    } */
    .links{
        font-size: 20px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 20px;
    }
}

/* #msg{
    display: none;
} */